appdirs==1.4.3
blessings==1.7
certifi==2020.4.5.1
chardet==3.0.4
codecov==2.0.22
coloredlogs==14.0
colour-runner==0.1.1
configparser==4.0.2
contextlib2==0.6.0.post1
coverage==5.1
deepdiff==3.3.0
distlib==0.3.0
filelock==3.0.12
humanfriendly==8.2
idna==2.9
importlib-metadata==1.6.0
importlib-resources==1.5.0
jsonpickle==1.4.1
monotonic==1.5
packaging==20.3
pathlib2==2.3.5
pluggy==0.13.1
py==1.10.0
Pygments==2.7.4
pyparsing==2.4.7
requests==2.23.0
rootpath==0.1.1
scandir==1.10.0
singledispatch==3.4.0.3
six==1.14.0
termcolor==1.1.0
toml==0.10.0
tox==3.14.6
typing==3.7.4.1
urllib3==1.26.5
virtualenv==20.0.18
zipp==1.2.0
